# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# LaTeX (archivos auxiliares de compilación)
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.nav
*.snm

# Sistema y editores
.DS_Store
.vscode/
.idea/
